<main class="main">
    <div class="user-view">
        <nav class="user-view__menu">
            <ul class="side-nav">
                <%
                const list = [
                    {
                        link:"#",
                        text: "settings",
                        icon: "settings",
                        active: true
                    },
                    {
                        link:"/my-tours",
                        text: "My bookings",
                        icon: "briefcase",
                    },
                    {
                        link:"#",
                        text: "My reviews",
                        icon: "star",
                    },
                    {
                        link:"#",
                        text: "Billing",
                        icon: "credit-card",
                    }
                ]

                list.forEach((item)=> { %>
                    <li class="<%-item.active ? 'side-nav--active' : '' %>">
                        <a href="<%-item.link %>">
                            <svg>
                                <use xlink:href="img/icons.svg#icon-<%-item.icon %>"></use> 
                            </svg>
                            <%- item.text %>
                        </a>
                    </li>
               <% })
                %>
                
            </ul>
        </nav>
        <div class="user-view__content">
            <div class="user-view__form-container">
                <h2 class="heading-secondary.ma-bt-md">Your account settings</h2>
                <form class="form form-user-data ">
                    <div class="form__group">
                        <label class="form__label" for="name">Name</label>
                        <input id="name" class="form__input" type="text" value="<%-user.name%>" required  >
                    </div>
                     <div class="form__group ma-bt-md">
                        <label class="form__label" for="email">Email</label>
                        <input id="email" class="form__input" type="email" value="<%-user.email%>" required  >
                    </div>
                     <div class="form__group form__photo-upload">
                         <img class="form__user-photo" src="/img/users/<%-user.photo%>" alt="user photo" />
                         <input  id= "photo" class="form__upload" type="file" accept="image/*" name="photo" >
                         <label for="photo">Choose new photo</label>
                    </div>
                    <div class="form__group right">
                        <button class="btn btn--small btn--green">Save settings</button>                     
                    </div>
                </form>
            </div>
        <div class="line">&nbsp;</div>
        <div class="user-view__form-container">
            <h2 class="heading-secondary ma-bt-md">Password change</h2>
                <form class="form form-user-password">
                    <div class="form__group">
                        <label class="form__label" for="password-current">Current password</label>
                        <input id="password-current" class="form__input" type="password" placeholder="********" required minlength="8" >
                    </div>
                     <div class="form__group">
                        <label class="form__label" for="password">New password</label>
                        <input id="password" class="form__input" type="password" placeholder="********" required minlength="8" >
                    </div>
                     <div class="form__group ma-bt-lg">
                        <label class="form__label" for="password-confirm">Confirm password</label>
                        <input id="password-confirm" class="form__input" type="password" placeholder="********" required minlength="8" >
                    </div>
                    <div class="form__group right">
                        <button class="btn btn--small btn--green btn--save-password">Save password</button>
                    </div>
                </form>            
        </div>
        </div>
    </div>
</main>